{
    "DB_HOST"           : "127.0.0.1",
    "DB_PORT"           : "3306",
    "DB_USER"           : "root",
    "DB_PASSWORD"       : "1",
    "DB_NAME"           : "qwerty",
    "DB_TABLE_NAME"     : "finish_test2",
    "HEAD_COLUMN_NAME"	: "name",
    "HEAD_COLUMN_DESCRIPTION"	: "decr",
    "HEAD_COLUMN_LINK"	: "link",
    "HEAD_COLUMN_PREVIEW"	: "prev",
    "MAX_NUM_LINKS_BY_ONE"	: "200"
}